{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Presentation de la ville{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Presentation de la ville d'Arras</h1>
<h2 class="text-center">Histoire de la ville d'Arras</h2>
<p> Sous les Gaulois, Arras s'appelle Nemetocena, du celte Nemeton : lieu sacré, sanctuaire. Dans ' la guerre des Gaules',
    César nous apprend que c'est un lieu de campement "Nemetocenna", où il passe deux hivers . C'est à l'époque le seul lieu connu au Nord d'Arras.
    Le nom de Nemetacum n'est peut-être pas la latinisation du nom gaulois mais désigne plutôt un autre lieu crée par auguste voici 17 siècles sur la colline Baudimont.</p>

<p>
    Le nom d'Arras n'apparaît qu'au XII éme siècle, par contraction du nom d'Atrébates (ATREBATES donne Atrades / Atradis / Aras puis Arras). L'origine du nom n'a donc rien à voir avec rats. Souvent évoqué. Sous louis XI, la ville s'est appelée Franchise. Les néerlandais lui ont donné le nom d'Atrecht.<br />

    Durant le Bas-Empire, Arras se distingue dans les textes officiels de l'époque qui nous renseignent sur sa position économique. En effet, Arras est l'un des piliers du commerce et du textile: de magnifiques draperies sont reconnues dans le monde entier.<br />

    Dès le VII siècle, la ville se dote d'une abbaye dédiée à Saint-Vaast au pied de la cité gallo-romaine. Selon laArras, tapisserie légende, Saint-Vaast a délivré la ville de l'ours qui effrayait la région.<br />

    Au cours du XII ème siècle, Arras connaît un essor économique important qui lui donne une position stratégique concernant ce qui déjà auparavant l'avait rendue célèbre: les draps et ses fameuses tapisseries, les Arrazi.<br />

    Depuis 1492 Arras est sous domination espagnol et le textile ne tarde pas à laisser place au commerce du grain. C'est à cette époque que la ville acquiert une plus grande importance avec la construction du Beffroi (1463) et celle de l'Hôtel de ville (1502).<br />

    En 1659 grâce au traité des Pyrénées Arras redevient française et dès 1668 la ville entreprend la construction de la citadelle. A l'aube de la Révolution Arras est sans conteste une ville "riche" grâce à l'industrie et la Porcelaine dont le secret de son décor bleu a été redécouvert il y a quelques années.
    En 1790 elle devient le chef-lieu du département devant Aire-sur-la-lys.<br />
</p>
{% endblock %}